body {
  color: green;
}
h1 {
  color: #5bde30;
  font-family:"trebuchet ms", verdana, sans-serif;
}

h2 {
  color: #5bde30;
  font-family:"trebuchet ms", verdana, sans-serif;
}

p {
  color: #38951d;
  font-family:"trebuchet ms", verdana, sans-serif;
  background-color: hsla(0, 0%, 15%, 0.7);
}

.about {
  background: #440a38;
  color: #d9114d;
}

.skills {
  background: #cfe5c6;
  color: #104938;
}

.projects {
  background: #cdd0e9;
  color: #1b2a5a;
}

.contact {
  background: #eacdc6;
  color: #632c08;
}
